<div class="cards">
  <% @offers.each do |offer| %>
    <%= link_to offer, class: "card-link" do %>
      <%= image_tag(offer.photos.first, :alt => "offer image") %>
      <div class="card-offer-infos">
        <div class="card-title-description">
          <h2><%= offer.name %></h2>
          <p><%= offer.description %></p>
        </div>
        <div class="card-rating-price">
          <div>
            <p>
              <i class="fa-solid fa-location-dot"></i> <%= offer.address %>
              <i class="fa-regular fa-user"></i> <%= offer.user.first_name %>
              <i class="fa-regular fa-star"></i> <%= (offer.bookings.count == 0) ? "-" : calculate_avg_rating(offer) %>
            </p>
          </div>
          <div>
            <h2 class="card-offer-price"><%= offer.price %>€</h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
