<div class="container">
<% if @offers.count != 0 %>
  <h3>Here are the offers you posted:</h3>
  <div class="cards-offers">
    <% @offers.each do |offer| %>
      <%= link_to offer, class: "card-link" do %>
        <div class="card-offer">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-offer-infos">
            <div>
              <h2><%= offer.name %></h2>
              <p><%= offer.description %></p>
              <p><%= offer.address %></p>
            </div>
            <h2 class="card-offer-pricing"><%= offer.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
 <% end %>
</div>

<div class="container">
<% if @bookings.count != 0 %>
  <h3>Here your bookings:</h3>
  <% @bookings.each do |booking| %>
    <p>You rented: <%= booking.offer.name %> </p>
    <p>Date: from <%= booking.start_date %> to <%= booking.end_date %></p>
    <p>---------</p>
    <br>
    <% end %>
  <% end %>

</div>
