
<div class="shadow p-3 bg-body col-12 col-lg-4 sticky-top rounded-4 .space mt-5 ">
    <%= simple_form_for [@offer, @booking], data: { controller: 'flatpickr' } do |f| %>
      <input type="hidden" id="unavailable" data-dates="<%=@offer.unavailable_dates.to_json%>">
      <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
      <%= f.submit 'Book' , class:" rounded-4 col-12 btn btn-primary" %>
    <% end %>
</div>
<<<<<<< HEAD

=======
>>>>>>> 96e7606569aba9ee4814b4ce4c8a60d159111950
