 <div class="shadow p-3 mb-5 bg-body mt-5 col-12 col-lg-4 sticky-top rounded-4">
    <h1></h1>
    <%= simple_form_for [@offer, @booking], data: { controller: 'flatpickr' } do |f| %>
      <input type="hidden" id="unavailable" data-dates="<%=@offer.unavailable_dates.to_json%>">
      <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
      <%= f.submit 'Book' , class:"btn btn-primary rounded col-12 " %>
    <% end %>
</div>
