<div class="container mb-3">
  <div class="row mt-4 ">
    <div class="col-4">
      <%= simple_form_for(@offer) do |f| %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description, as: :text%>
          <%= f.input :price %>
          <%= f.input :address%>
        </div>

        <div class="form-actions btn btn-light">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
