<div id="index-container" class="container">
  <div class=filters>
    <div class="filter-icons">
      <ul class="list-inline">
        <li>
          <%= link_to offers_path(:query => { :category => :Kitchen }), class: "tab" do %>
            <i class="fa-solid fa-kitchen-set icon"></i> <p>Kitchen</p>
          <% end %>
        </li>
        </li>
        <li>
          <%=  link_to offers_path(:query => { :category => :Garden } ), class: "tab" do %>
            <i class="fa-regular fa-futbol icon"></i> <p>Garden</p>
          <% end %>
        </li>
        <li>
          <%=  link_to offers_path(:query => { :category => :Bathroom } ), class: "tab" do %>
            <i class="fa-solid fa-toilet-paper icon"></i> <p>Bathroom</p>
          <% end %>
        </li>
        <li>
          <%=  link_to offers_path(:query => { :category => :Entertainment } ), class: "tab" do %>
            <i class="fa-solid fa-film icon"></i> <p>Entertainment</p>
          <% end %>
        </li>
        <li>
          <%=  link_to offers_path(:query => { :category => :Construction } ), class: "tab" do %>
            <i class="fa-solid fa-wrench icon"></i> <p>Construction</p>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="search-field">
        <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            "#{@search unless @hide}",
            class: "form-control",
            placeholder: "Search here..."
          %>
          <%= submit_tag "Go", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
  <%= render "shared/index-card" %>
</div>
