<%# <div class="container-filter">

</div> %>
<div class="container">
  <div class=filters>
    <div class="filter-icons">
      <ul class="list-inline all-tabs" data-controller="filter">
        <li class="tab" data-action="click->filter#active">
          <i class="fa-solid fa-kitchen-set icon"></i> <%= link_to "Kitchen", offers_path(:query => { :category => :Kitchen } ) %>
        </li>
        <li class="tab" data-action="click->filter#active">
          <i class="fa-regular fa-futbol icon"></i> <%= link_to "Garden", offers_path(:query => { :category => :Garden } ) %>
        </li>
        <li class="tab">
          <i class="fa-solid fa-toilet-paper icon"></i> <%= link_to "Bathroom", offers_path(:query => { :category => :Bathroom } ) %>
        </li>
        <li class="tab">
          <i class="fa-solid fa-film icon"></i> <%= link_to "Entertainment", offers_path(:query => { :category => :Entertainment } ) %>
        </li>
        <li class="tab">
          <i class="fa-solid fa-wrench icon"></i> <%= link_to "Construction", offers_path(:query => { :category => :Construction } ) %>
        </li>
      </ul>
    </div>
    <div class="search-field">
        <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            "#{@search unless @hide}",
            class: "form-control",
            placeholder: "Search here..."
          %>
          <%= submit_tag "Go", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
  <%= render "shared/index-card" %>
</div>
