<div class="container">
  <div class="container row flex-row md-col-6">
    <%= render "offers/carousel" %>
    <div class="card-category col-10 p-2 border-bottom sh bg-body rounded " style ="width: 700px">
      <p><strong><%= @offer.description %></strong></p>
      <div class="d-flex justify-content-between" style="margin-right:-491px;">
        <p><i class="fa-solid fa-location-dot"> </i>&nbsp;&nbsp;<strong><%= @offer.address %></strong></p>
        <strong><%= @offer.price %>€</strong></p>
      </div>
    </div>
  </div>
    <%= render "offers/checkout" %>

    <div class="mt-5">
        <% @offer.bookings.each do |booking| %>
          <% if booking.review %>
          <div class ="shadow p-3 mb-4 bg-body rounded-4 d-flex col-7  pt-3 " style ="width: 700px">
            <div>
            <p><strong><%= booking.user.first_name %></strong>:</p>
            <%= booking.review %>
            <p>Rating: <%= booking.rating %><i class="fa-solid fa-star ms-auto p-2"></i></p>
            </div>
            <div>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
