<div class="container">
  <div class="container row flex-row">
    <%= render "carousel" %>
    <div class="card-category col-10 p-2 border-bottom sh bg-body rounded d-flex">
      <div>
        <p><strong><%= @offer.description %></strong></p>
        <i class="fa-solid fa-location-dot"></i> <%= @offer.address %>
      </div>
        <p class="mt-5"><strong><%= @offer.price %>€</strong></p>
    </div>
  </div>
    <%= render "checkout" %>
    <div class="mt-4">
      <% if @offer.user == current_user %>
        <%= link_to "Edit offer", edit_offer_path(@offer), class: "col-2 text link-dark btn btn-primary rounded-4" %>
        <%= link_to "Edit pictures", upload_pictures_path(@offer), class: "col-2 text link-dark btn btn-primary rounded-4" %>
        <%= link_to "Delete offer", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class:"col-2 text link-dark delete-link rounded-4 btn btn-danger" %>
      <% end %>
        <% @offer.bookings.each do |booking| %>
          <% if booking.review %>
          <div class ="shadow p-3 mb-4 bg-body rounded-4 d-flex col-7">
            <div>
            <p><strong><%= booking.user.first_name %></strong>:</p>
            <%= booking.review %>
            </div>
            <p>Rating: <%= booking.rating %> <i class="fa-solid fa-star me-4"></i></p>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
