



<div class="container ">
  <div class="row mt-4">
      <div class="col-5">
        <div class="card-category shadow p-3 mb-5 bg-body rounded">
          <img src="https://aisvip-a.akamaihd.net/masters/1387331/hausarbeit-ist-meistens-frauensache.jpg" class="rounded-4" alt="Girl in a jacket" width="500" height="300">
          <h1><%= @offer.name %></h1>
          <p><%= @offer.description %></p>
          <p><%= @offer.address %></p>
          <p><strong><%= @offer.price   %>€</strong></p>
        </div>
      </div>
    <%= render "checkout" %>
  </div>
